@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,700|Roboto:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

#main_1 > .addList, #main_1 > .listTo li {
  position: relative;
}

#main_1 > .addList input, #main_1 > .addList button {
  position: absolute;
}

#main_1 > .addList, #main_1 > .listTo li {
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

#main_1 > .addList, #main_1 > .listTo li {
  padding: 10px;
  margin-bottom: 20px;
  height: 48px;
  color: #384249;
}

body {
  font-size: 16px;
  line-height: 20px;
  font-family: "Noto Sans TC", "Roboto", sans-serif;
  color: #384249;
  background: #AFB3B6;
  overflow: hidden;
  overflow-y: auto;
}

h1, .h1 {
  font-size: 24px;
}

h2, .h2 {
  font-size: 20px;
}

h3, .h3 {
  font-size: 20px;
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 16px;
}

a {
  color: #384249;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a:hover {
  color: #E9473F;
}

#container {
  width: 480px;
  max-width: 480px;
  background: #fff;
  margin: 0 auto;
}

header {
  margin-top: 60px;
}

header > ul {
  list-style: none;
  font-family: "Noto Sans TC", "Roboto", sans-serif;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > ul li {
  width: 33.33333%;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  background: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #AFB3B6;
  padding: 15px 10px;
}

header > ul li i {
  padding-right: 5px;
}

header > ul li:hover {
  background: #fff;
  color: #E9473F;
  cursor: pointer;
}

header > ul li.active {
  background: #fff;
  color: #E9473F;
}

#wrap {
  padding: 20px;
  margin-bottom: 100px;
}

#wrap .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

#wrap .title a {
  color: #AFB3B6;
}

#wrap .title a:hover {
  color: #00AA4E;
}

#wrap .tab-body-content {
  display: none;
}

#wrap .tab-body-content.active {
  display: block;
}

#main_1 > .addList:hover, #main_1 > .addList:active, #main_1 > .addList:focus {
  border-color: #00AA4E;
}

#main_1 > .addList input {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #384249;
  border: none;
  border-radius: 5px;
  padding-left: 40px;
  z-index: 0;
}

#main_1 > .addList input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#main_1 > .addList button {
  width: 24px;
  height: 24px;
  color: #AFB3B6;
  background: transparent;
  border: none;
  left: 10px;
  top: 12px;
  z-index: 2;
}

#main_1 > .addList button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#main_1 > .listTo {
  list-style: none;
}

#main_1 > .listTo li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#main_1 > .listTo li > .event-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  width: 100%;
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

#main_1 > .listTo li > .event-radio > input[type="radio"] {
  display: none;
}

#main_1 > .listTo li > .event-radio > input[type="radio"]:checked + label:before {
  border-color: #E9473F;
}

#main_1 > .listTo li > .event-radio > input[type="radio"]:checked + label:after {
  opacity: 1;
}

#main_1 > .listTo li > .event-radio > .event-label {
  position: relative;
  padding-left: 30px;
}

#main_1 > .listTo li > .event-radio > .event-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border: 2px solid #AFB3B6;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#main_1 > .listTo li > .event-radio > .event-label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #E9473F url(../images/round-done-white.svg) no-repeat center;
  background-size: 20px;
  border-color: #E9473F;
  opacity: 0;
}

#main_1 > .listTo .btn-cancel {
  color: #E9473F;
}

#main_1 > .listTo .btn-start {
  color: #00AA4E;
  margin-left: auto;
}

#main_2 > .time-analysis {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
}

#main_2 > .time-analysis .subtitle h3 {
  font-weight: 300;
}

#main_2 > .time-analysis > .time-item {
  position: relative;
  width: 100%;
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

#main_2 > .time-analysis > .time-item .consequent {
  color: #E9473F;
  margin-top: 15px;
  font-size: 52px;
}

#main_2 > .time-analysis > .time-item .consequent > em {
  color: #AFB3B6;
  font-size: 16px;
  padding-left: 5px;
  font-style: normal;
  font-weight: 300;
}

#main_2 > .chart-analysis .dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

#main_2 > .chart-analysis .dates > i {
  background: #EEEEEE;
  border-radius: 50%;
}

#main_3 > .ringwrap {
  margin-top: 20px;
}

#main_3 > .ringwrap .subtitle h3 {
  font-weight: 300;
}

#main_3 form {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#main_3 form > .ring-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  width: 100%;
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 10px 0;
}

#main_3 form > .ring-radio > input[type="radio"] {
  display: none;
}

#main_3 form > .ring-radio > input[type="radio"]:checked + label:before {
  border-color: #E9473F;
}

#main_3 form > .ring-radio > input[type="radio"]:checked + label:after {
  opacity: 1;
}

#main_3 form > .ring-radio .ring-label {
  position: relative;
  padding: 5px 10px 5px 30px;
}

#main_3 form > .ring-radio .ring-label::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  background: #fff;
  border: 2px solid #AFB3B6;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#main_3 form > .ring-radio .ring-label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #E9473F url(../images/round-done-white.svg) no-repeat center;
  background-size: 20px;
  border-color: #E9473F;
  opacity: 0;
}

footer {
  width: 100%;
  text-align: center;
  background: #384249;
  color: #fff;
  padding: 5px;
}

footer a {
  color: #E0E0E0;
  padding: 0 5px;
}
/*# sourceMappingURL=style.css.map */